<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Bainan Consulting Group</title>
      <meta name="description" content="Banian Consulting Group - connecting innovation between China and USA.">
      <link rel="stylesheet" href="main.css">
  </head>
  <body>

    <nav class="nav">
      <ul class="menu">
        <li id="logo">
          <a href="/"></a>
          <h1 class="hidden">Banian</h1>
        </li>
            
        <li class="menu-item">
            <a href="/our_values">Our Values</a>
        </li>
        
        <li class="menu-item">
            <a href="/our_services">Our Services</a>
        </li>
        
        <li class="menu-item last-item">
            <a href="/contact_is">Contact Us</a>
        </li>
        
        <li class="right-menu right">
            <a class="hidden">NOTHING</a>
        </li>
      </ul>
    </nav>
    
    <div class="content">
      <div id="bridging">
      	<h1>Briding Innovation Between China and USA.</h1>
      </div>
    
    </div>
    

  </body>
</html>
